<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructor Area</title>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('includes/sidebar.ejs') %> <%- include('includes/navbar.ejs') %>
    <%- include('includes/aside.ejs') %>

    <div class="container" id="adminContainer">
      <div class="wrapper">
        <div class="card">
          <div class="head">
            <h2>Upload Questions</h2>
          </div>
          <form
            id="upload"
            action="/import-excel"
            method="POST"
            enctype="multipart/form-data"
          >
            <input type="file" name="import-excel" required />
            <button type="submit" name="submit document">Upload</button>
          </form>
        </div>
        <div class="card">
          <div class="head">
            <h2>Send Instruction</h2>
          </div>
          <form action="" method="post">
            <textarea
              name="instruction"
              id="instructionForm"
              placeholder="Give an Instruction to Students"
              required
            ></textarea>
            <button type="submit" name="submit_instruction">
              Send Instruction
            </button>
          </form>
        </div>
      </div>
    </div>

    <%- include('includes/footer.ejs') %>
    <script src="/js/sweetalert.js"></script>
    <script>
      const upload = document.getElementById('upload');
      upload.addEventListener('submit', () => {
        
          swal.fire({
            icon: 'success',
            title: 'Uploaded Successfully',
            didOpen: () => {
              swal.hideLoading();
            },
          });
        
      });
    </script>
  </body>
</html>
