<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B S U - WPESS</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="center"></div>
    <div class="head">
      <h2>Welcome to B S U - WPESS</h2>
      <small>Create Account / Login to Start Practice</small><br />
      <small>make hay while the sun shine</small>
    </div>
    <ul class="content">
      <li>
        <a href="/register">Create Account</a>
      </li>
      <li>
        <a href="/login">Login to Dashboard</a>
      </li>
    </ul>
  </body>
</html>
