<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    body {
        background: url('/images/exam-teacher.gif');
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        overflow: auto;
        overflow-x: hidden;
    }

    center {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #4c4abdb4;
        z-index: 99;
    }
    center h3 {
        position: relative;
        display: flex;
        width: 100%;
        top: 0;
        right: 0;
        padding: 10px;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        background: #00063d;
        color: #ff4800;
    }
    h5 {
        position: relative;
        display: block;
        color: rgb(243, 56, 24);
        font-weight: 500;
        font: 20px;
    }
    h4 a {
        position: relative;
        display: block;
        color: white;
        left: 120px;
        top: 10px;
        text-decoration: none;
        z-index: 999;
    }
    .content p {
        color: red;
    }
    center .links{
        position: absolute;
        display: flex;
        padding: 20px;
        top: 40%;
        left: 45%;
        
    }
    .links a {
        color: red;
        text-decoration: none;
        background-color: #00063d;
        padding: 10px;
    }
    </style>
</head>
<body>
    <h4>
        <a href="/dashboard"><= Back</a>
    </h4>
    <center>
        <div class="content">
            <h3>B S U - WPESS</h3>
            <h3>Help you to study ahead of your exams</h3>
            <h3>find resources at links below</h3>
            <div class="links">
                <a href="https://pcgicks.files.wordpress.com/2015/02/com-101-introduction-to-computing-theory.pdf">CMP 101</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://nou.edu.ng/coursewarecontent/MTH101.pdf">MTH 101</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://nou.edu.ng/coursewarecontent/GST%20101.pdf">GST 101</a>
            </div>
        </div>
    </center>
</body>
</html>