<div class="navbar">
  <div class="wrapper">
    <div class="left">
      <h2>Instructor Dashboard</h2>
    </div>
    <ul class="cta">
      <li>Settings</li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <li>Notifications</li>
    </ul>
    <div class="navTrigger" id="navTrigger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
